@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
  font-family: 'Square Peg';
  src: url('../fonts/SquarePeg.ttf');
}

@import 'variables';
@import 'scaffolding';
@import 'header';
@import 'swiper';
@import 'inform';
@import 'yellowSpace';
@import 'hotPizzaMeals';
@import 'menuPricing';
@import 'photoSet';
@import 'newMenuInfo';
@import 'recentFromBlog';
